#container { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    grid-template-areas:
        "header header"
        "main menu"
        "main login"
        "main profile"
        "main social";
}

#title {
    grid-area: header;
}

#menu { grid-area: menu;}

#login { grid-area: login;}

#main { grid-area: main;}

#profile { grid-area: profile;}

#social{
    grid-column: 1 / span 1;
}